.evil-input {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #fff;
  border-bottom-width: 1px;

  min-inline-size: 10rem;
  inline-size: 100%;
  block-size: 2.6rem;
  padding-block: 0;
  padding-inline: 0.4rem;

  background: transparent;
  appearance: none;

  font-size: 1rem;
  font-weight: normal;
  line-height: 1.6rem;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &::placeholder {
    color: #fff;
    opacity: 0.7;
  }
}
