.evil-form {
  width: 30rem;
  height: 30rem;
  background: rgb(0 0 0 / 10%);
  border-radius: 24px;
  box-shadow: 0 4px 30px rgb(249 167 99 / 50%);
  backdrop-filter: blur(0.1rem);
  padding: 1rem 3rem;
  box-sizing: border-box;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 0;
  }
}
